@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    
}

:root{
    --cinza: rgb(44, 41, 41);
    font-size: 20px;
}

body{
    background-color: rgb(234, 193, 193);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    background-color: black;
    color: orange;
    font-size: 2.5rem;
    text-decoration: underline overline;

    display: flex;
    justify-content: center;
    padding: 25px;
}

main{
    width: 60%;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 50px;

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

small{
    width: 90px;
    border-left: 3px solid yellow;
    padding-left: 5px;
    font-weight: bold;
}

small:hover{
    background-color: yellow;
    transition: 1s;
}

.principal{
    margin-bottom: 50px;
    border-bottom: 3px solid var(--cinza);
    padding: 20px;
}

h1{
    margin-bottom: 10px;
}

.paisagem{
    width: 60%;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 5px;
}

footer{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

i{
    font-size: 100px;
    color: var(--cinza);
}